<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="thdus"/>
        <property name="password" value="thdus"/>
        <!-- 4개의 설정은 동일하게 설정하는 것이 예외 케이스를 줄일 수 있음 -->
        <property name="initialSize" value="20"/>
        <property name="maxTotal" value="20"/>
        <property name="maxIdle" value="20"/>
        <property name="minIdle" value="20"/>
    </bean>

    <bean id="userDAO" class="ch05.studyspring.UserDAOJdbc">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
<!--        <property name="dataSource" ref="dataSource"/>-->
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <context:component-scan base-package="ch05.studyspring"/>

</beans>
